.slideshowContainer {
    height: fit-content;
    padding: 0;
    overflow:hidden;
}

.slidesContainer {
    display: inline-block;
    width: 100%;
    border-style: none;
    white-space: nowrap;
    transition: transform .5s ease-in-out;
}

.slide {
    display: inline-block;
    width: 100%;
    height: auto;
}
