
.genreTilesContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.genreTile {
    display: flex;
    width: 10vw;
    height: 10vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.genreTile:hover,
.genreTile:focus {
    cursor: pointer;
    transform: scale(1.05);
}


.genreTile > p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 10%;
}