.carouselContainer {
    margin: auto 5%;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.leftArrow {
    width: 30px;
    height: 30px;
    background-color: cadetblue;
}

.rightArrow {
    width: 30px;
    height: 30px;
    background-color:lightcoral;
}

.carousel {
    width: 90%;
    margin: auto 5%;
    display: flex; 
    white-space: nowrap;
    column-gap: 10%;
    transition: transform .5s ease-in-out;
    grid-column: 2;
    z-index: -1;
}


.carouselImage {
    /* imageWidth = 20 - ((5/8) * margin) */
    width: 12%;
    min-width: 12%;
    height: 250px;
}