.refinementBarContainer {
    width: 20%;
    padding-right: 15%;
}

.refinementBarContainer > * {
    margin-bottom: 15px;
    border-bottom: solid;
    border-width: 1px;
    padding-bottom: 15px;
    width: 100%;
}

.refinementBarContainer > h2 {
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    font-size: 1.3em;
}