.footerContainer {
    width: 100%;
    height: 10vh;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footerContentContainer {
    width: 90%;
    height: 100%;
    border-top: solid;
    border-width: 1px;
}

.footerContentContainer > p {
    font-family: var(--text-font-family);
    margin-top: 2vh;
}